/*PADS: Basic layout*/

body, h1, h2, h3, h4, h5, h6 {margin: 0;}

a{text-decoration: none;}

#wrap {
width: 950px;
margin: 0 auto;
/*text-align: left;*/
}

#top-bar{
position: absolute;
top: 0px;
left: 0px;
height: 30px;
width: 100%;
background-color: lightgreen;
z-index: 11;
}

#top-content{
position: absolute;
top: 0px;
height: 24px;
width: 950px;
margin: 4px 0 0 0;
padding: 0;
z-index: 12;
/*border: 1px solid red;*/
}

#name, #search, #user{
margin-top: 1px;
float: left;
padding: 0 10px;
}
/*WTF Facepalm glitch @ search bar... pushes txt down a bit.*/
#search {
padding: 0;
}
#search-box input[type="text"]{margin: 0; padding: 0;}
#search-box input[type="button"]{height: 22px;}
#user{
float: right;
}

#cwrap{
position: absolute;
top: 30px;
width: 950px;
}

#head{
height: 200px;
}

#head #logo{
background-image: url(logo.png);
background-size: 1000px 170px;
}

#head .full{
height: 170px;
width: 100%;
}

#bar{
position: absolute;
top: 160px;
padding: 5px;
background-color: yellow;
border-top: 1px solid black;
border-bottom: 1px solid black;
}

#bar .cat{
padding: 0 10px;
}

#cat{
color: lightgray;
}

/*old frontpage*/

.content{
float: left;
margin: 0 10px 10px 0;
padding: 10px;
height: 100px;
width: 320px;
}

.content .ctitle{
font-weight: bold;
font-size: 20px;
}

.content .info{
font-weight: italics;
font-size: 12px;
}